/*|*/
*{
    padding: 0;
    margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  color: black;
  line-height: 1.5; 
}

.container {
    max-width: 1000px;
    margin: 0 ;
    padding: 0 15px;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid black;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

.navbar nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar nav a {
    text-decoration: none;
    color: blue;
    font-size: 1rem;
}

.btn-nav {
    background-color: black;
    color: white!important;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
}

.navbar nav a:hover {
    background-color: black;
    color: white!important;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
}

/* hero section styles */
.hero-content {
    display: flex;
    gap: 4rem;
    align-items: center;
    padding: 20px;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    height: 400px;
    border-radius: 30px;
}

.image-placement {
    justify-content: center;
}

.hero-text h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.hero-text strong {
    font-size: 2rem;
    color: blue;
}

.features {
    background-color: azure;
    padding: 5rem;
}

.features h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.features-cards {
    display: flex;
    gap: 2rem;
}

.card {
    background-color: white;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 20px;
}